
<div class="contentStyle">
    <h2 class="inTittle">INTERPOLATION:(String Interpolation)</h2>

    <ul>
        <li>String Interpolation in is a <span style="color: #c72100;font-weight: bold;">one-way data-binding</span> technique that is used to transfer the data from a TypeScript code to an HTML template (view). It uses the template expression in <span style="color: #c72100; font-weight: bold;">double curly braces</span> to display the data from the component to the view. String interpolation adds the value of a property from the component to the HTML template view.</li>               

       <li>SYNTAX:
            <ul class="innerUL">
                <li><span style="color: #c72100;font-weight: bold;"> <img src="../../assets/img/interpolation.PNG"> </span></li>
            </ul>
        </li>
        <li>Note:
            <ul class="innerUL">
                <li>Angular interpolation is also known by the name <span style="color: #c72100;font-weight: bold;">string interpolation</span>. Because you incorporate expressions inside another string.</li>
            </ul>
        </li>

        <li style="color: #c72100;">Example:
         <img style="width: 100%;" src="../../assets/img/interpolation3.PNG">
        </li>
        <div class="subContent">
            <h3>Where do not use the Interpolation:?</h3>
        </div>
        <li>Interpolation can't use the assignment values.</li>
        <li>Interpolation can't accept the Global variables.</li>
        <li style="color: #c72100;">Example:</li>
        <span><img style="width: 100%;" src="../../assets/img/interpolation4.PNG"><img style="width: 100%;" src="../../assets/img/interpolation5.PNG"></span>
        <li>If required to use the Global variables using interpolation. need to create those Global values under the class then you can use the same into the template file. Like below</li>
        <li style="color: #c72100;">Example:</li>
        <img style="width: 100%;" src="../../assets/img/interpolation6.PNG">

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Recap Notes:</li>
        <li>By using  <span style="color: #c72100;font-weight: bold;"> &#10100;&#10100;   &#10101;&#10101; </span> we can use the property value of its corresponding class. </li>
        <li>String interpolation is <span style="color: #c72100;font-weight: bold;"> ONE-WAY DATA BINDING </span> technique, which is used to output the data from typescript code.</li>
        <li> The syntax of binding a field using double curly braces is called <span style="color: #c72100;font-weight: bold;"> BINDING EXPRESSION </span></li>
        <li>Simply, Interpolation is way of binding data from <span style="color: #c72100;font-weight: bold;"> CLASS to TEMPLATE.</span></li>
    </ul>
</div>
