<div class="contentStyle">
    <h2 class="inTittle">ngIf Directive</h2>
    <div class="subContent">
        <h3>Structural Directives:</h3>
    </div>

    <ul>
        <li>Used for adding or removing HTML elements from the template.</li> 
        <li>Commonly used structural directives are...</li>
        <img style="width: 25%;margin-top: 15px 0px;" src="../../assets/img/structural.PNG">
        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">If-Example:</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/if2.PNG">
        <li> In angular to write the <span style="color: #c72100;background-color: #c5bdbd;">else </span> case <span style="color: #c72100;background-color: #c5bdbd;">  &lt;ng-template &gt; </span> is required.</li>
    
        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Ex- If-else :</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/if3.PNG">
        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Ex- If-else : (Using then condition)</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/if4.PNG">

    </ul>
</div>
