
<div class="contentStyle">
    <h2 class="inTittle">INSTALLATION & GETTING STARTED:</h2>

    <div class="subContent">
        <h3>Required Development Environment:</h3>
    </div>
    <ul>
       <li>NODE
           <ul class="innerUL">
               <li>node is JavaScript runtime environment built on Chrome's V8 JavaScript engine. </li>
               <li style="cursor: pointer;color: green;text-decoration: underline;">https://nodejs.org/en/download/</li>
               <li>Checking NODE & NPM installed or not : <span  style="display: block;"><img src="../../assets/img/node-version.PNG"></span></li>
           </ul>
       </li>
       <li>NPM
            <ul class="innerUL">
                <li>npm  is a package manager for the JavaScript programming language.</li>
            </ul>
        </li>
        <li>ANGULAR CLI
            <ul class="innerUL">
                <li> Install Angular CLI via NPM : <span style="color: #c72100;">npm install -g @angular/cli</span></li>
            </ul>
            <ul class="innerUL">
                <li>Checking Angular installed or not : <span  style="display: block;"><img src="../../assets/img/angular-version.PNG"></span></li>
            </ul>
        </li>

        <li>TEXT EDITOR
            <ul class="innerUL">
                <li>Visual Studio Code</li>
                <li style="cursor: pointer;color: green;text-decoration: underline;">https://code.visualstudio.com/download</li>
            </ul>
        </li>
    </ul>
</div>