<div class="contentStyle">
    <h2 class="inTittle">OPTIONAL ROUTE PARAMMAP</h2> 

    <ul>
        <li>Click on any one of the course list in course-list component and  it is navigate to course-details component . </li>
        <li>in course-details component add the back button.</li>
        <li>When user click on back button it has been navigate to course-list and selected course was showing different color ,  for this actions we are using the optional route parammap's.</li>
        <img style="width: 70%;margin-top: 15px 0px;" src="../../assets/img/optionalParameter.PNG">

        <li>course-details component like</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/op1.PNG">
        <li>course-list component like</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/op2.PNG">
        
    </ul>

</div>