<div class="contentStyle">
    <h2 class="inTittle">Wildcard Routs and Re-Directions</h2> 

    <ul>
        <li>In general, while route the any of unknown component (Not available component) at that time in console showing the error, but user not understanding what's happened .</li> 
        <li>So, these cases we have to use the wild card routs and redirect to page not found message on view page.</li>
        <img style="width: 70%;margin-top: 15px 0px;" src="../../assets/img/error.PNG">

        <li>Always, wildcard routs was added end of the routes only. because, I have add the wildcard route to top of the routes, at that time it is showing as "Page not found - 404 Error" only.</li>
        <img style="width: 70%;margin-top: 15px 0px;" src="../../assets/img/error2.PNG">
        <li>We can see,  once up the angular application in locally at that time it is running on  localhost:4200.
            For this case it is not having any path so it is through error, to avoid we need to set the empty path and redirect to required components like below.</li>
        <img style="width: 40%;margin-top: 15px 0px;" src="../../assets/img/error3.PNG">
        <img style="width: 55%;margin-top: 15px 0px;" src="../../assets/img/error4.PNG">
        </ul>

</div>