<div class="contentStyle">
    <h2 class="inTittle">CHILD ROUTES</h2> 

    <ul>
        <li>In any angular application some routs my only viewed with in another routes.</li>
        <li>For this case I was to create  2 components in course-details component as a child components.(course-details & course-fee)</li>
        
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/child2.PNG">
        
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/child3.PNG">
        
    </ul>

</div>