<div class="contentStyle">
    <h2 class="inTittle">Pipes</h2> 
    <ul>
        <li> To transform the incoming stream of data into the required format before displaying in the View.</li> 
        <li>The following are commonly used built-in pipes for data formatting:</li>
    
            <ul class="innerUL" style="margin-left: 30px;">
                <li><span style="color: #c72100;background-color: #c5bdbd;"> DatePipe:</span> Formats a date value according to locale rules.</li>
                <li><span style="color: #c72100;background-color: #c5bdbd;"> UpperCasePipe:</span> Transforms text to all upper case.</li>
                <li><span style="color: #c72100;background-color: #c5bdbd;"> LowerCasePipe:</span> Transforms text to all lower case.</li>
                <li><span style="color: #c72100;background-color: #c5bdbd;"> CurrencyPipe:</span> Transforms a number to a currency string, formatted according to locale rules.</li>
                <li><span style="color: #c72100;background-color: #c5bdbd;"> DecimalPipe:</span> Transforms a number into a string with a decimal point, formatted according to locale rules.</li>
                <li><span style="color: #c72100;background-color: #c5bdbd;"> PercentPipe:</span> Transforms a number to a percentage string, formatted according to locale rules.</li>

                <li><span style="color: #c72100;background-color: #c5bdbd;"> AsyncPipe:</span> Unwraps a value from an asynchronous primitive.</li>
                <li><span style="color: #c72100;background-color: #c5bdbd;"> JsonPipe:</span> Converts a value into its JSON-format representation. Useful for debugging.</li>
                <li><span style="color: #c72100;background-color: #c5bdbd;"> SlicePipe:</span> Creates a new Array or String containing a subset (slice) of the elements.</li>
            </ul>
            <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/pipes.PNG">
    </ul>
</div>