
<div class="contentStyle">
    <h2 class="inTittle">CLASS BINDING:</h2>

    <ul>
        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example1 - Class Binding (Single CLass Bind):</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/class-binding.PNG">
        <li>By using the conditions, we will verify the class-binding as well.</li>
        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example2 - Another way of Class-Binding (Single CLass Bind):</li>
        <img style="width: 100%; margin-top: 15px 0px;" src="../../assets/img/class-binding1.PNG">

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example3 - Multi classes binding:</li>
        <img style="width: 100%; margin-top: 15px 0px;" src="../../assets/img/class-binding2.PNG">

    </ul>
</div>