<div class="contentStyle">
    <h2 class="inTittle">Dependency Injection</h2> 
    <ul>
        <li>Dependency Injection is a coding pattern in which a class receives its dependencies from external source rather than creating them itself.</li> 
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/Dependency.PNG">
        <li>In the above example, Car has only two dependencies(Engine and Tires).</li> 
        <li>Suppose car ha 10 or 20 or 30 or 40 ...... Dependencies, the above type of code is USELESS.</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/dependency2.PNG">
        <li>In this case it becomes extreme difficulty for the developer.</li> 
        <li>Here, Angular Dependency injection as Framework comes into picture.</li> 
    </ul>

    <div class="subContent">
        <h3>DI as a framework:</h3>
    </div>

    <ul>
        <li>Injector has to register all dependencies. That means injector is like a Container for all dependencies.</li> 
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/Injector.PNG">
       
    </ul>
</div>