
<div class="contentStyle">
    <h2 class="inTittle">PROPERTY BINDING:</h2>

    <div class="subContent">
        <h3>Property Vs Attribute :</h3>
    </div>
    <ul>
       <li>Attributes and properties are not the same.</li>
       <li>Attributes are defined by HTML.</li>
        <li>Properties are defined by DOM (Document Object Model).</li>
        <li>Attributes initialize DOM properties and then they are done.</li>
        <li>Attribute values cannot change one they are initialized</li>
        <li>Property values however can change.</li>

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example1(Property and DOM):</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/property-bind.PNG">

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example2(Property Binding):</li>
        <img style="width: 100%; margin-top: 15px 0px;" src="../../assets/img/property-binding1.PNG">

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example3(Property Binding using Interpolation):</li>
        <img style="width: 100%; margin-top: 15px 0px;" src="../../assets/img/property-bind-interpolation.PNG">

        <li>If we use the Interpolation at that time boolean values are not acceptable.</li>
        <li>If we added the property binding at that time it is allowing boolean values.</li>

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example4(Property Binding using Interpolation usage of boolean property):</li>
        <img style="width: 100%; margin-top: 15px 0px;" src="../../assets/img/property-bind-inter-disabled.PNG">
    </ul>
</div>