<div class="contentStyle">
    <h2 class="inTittle">TWO-WAY DATA BINDING:</h2>

    <ul>
        <li>Two-way data binding refers to sharing data between a component class and its template. </li> 
        <li>If you change data in one place, it will automatically reflate at the other end.</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/2way-data-bind1.PNG">
        <li> ngModel directive is used to achieve two-way data binding.</li>
        <li> Must import FormsModule from '@angular/forms'</li>
        <li><span style="color: #c72100;font-weight: bold;">[ ] </span> - Property Binding </li>
        <li><span style="color: #c72100;font-weight: bold;"> ( ) </span> - Event Binding </li>
        <li>Two-way Data binding = Property Binding + Event Binding</li>
        <li><span style="color: #c72100;font-weight: bold;">[ ]  + <span style="color: #c72100;font-weight: bold;"> ( ) </span></span></li>
        <li> Symbol is <span style="color: #c72100;font-weight: bold;"> [( )]</span></li>
        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example1:</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/2way-data-binding.PNG">

    </ul>
</div>