<div class="contentStyle">
    <h2 class="inTittle">OPTIONAL ROUTE PARAMMAP</h2> 

    <ul>
        <li>Previous session, while constructing the URL's we are using the Absolute navigation . in future it is creating some issue like below(instead of previous screen it is showing page not found component page). </li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/relative1.PNG">
        <li>To avoid those issues need to  construct to relative navigation routings like below.</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/relative2.PNG">
        
    </ul>

</div>
