<div class="contentStyle">
    <h2 class="inTittle">INTRODUCTION:</h2>
    <ul>
        <li>Angular is an open source JavaScript binding frameWork to build the web Applications (Clint Side)</li>
        <li>Angular binds the Model with View Architecture</li>
        <li>Angular helps to implement MVVM (Model View View Model) pattern</li>
        <li>Angular is used to develop a SPAs(Single Page Applications)</li>
        <li>Angular helps to load parts of web pages asynchronously rather then load entire page.</li>
        <li>By using components future, we have a lot of re-usable code</li>
        <li>In angular it is possible to do Unit test and easily maintain the code</li>
        <li>Angular is the product of Google team and makes us of Type Script language from Microsoft.</li>
    </ul>
    <div class="subContent">
        <h4>Prerequisites:</h4>
        <ul>
            <li>HTML</li>
            <li>CSS</li>
            <li>JavaScript</li>
            <li>Basics of TypeScript</li>
        </ul>
    </div>

    <div class="subContent">
        <h4>TypeScript:</h4>
        <ul>
            <li>Type Script is a Open-Source pure Object-Oriented Programming Language</li>
            <li>It is a strongly typed superset of Java Script, which compiles to plain Java Script</li>
            <li>It is developed and Maintained by Microsoft under Apache License.</li>
            <li>It is not directly run on the browser. It needs a compiler to compile and generate a java Script File.(uses V* Engine)</li>
            <li>Type Script source files is in ".ts" extension</li>
            <li> Finally: Type Script = Java Script + Some additional features</li>           
        </ul>

        <h3>TypeScript Advantages:</h3>
        <ul>
            <li>TypeScript always highlights errors at compilation time, during the time of development, whereas Java Script points our errors at run time.</li>
            <li>Type Script supports strongly typed or static typing, whereas this is not in Java Script.</li>
            <li>Type Script runs on any browsers.</li>
            <li>it has a namespace concept by defining a module.</li>
        </ul>

        <h3>TypeScript Disadvantages:</h3>
        <ul>
            <li>Type Script takes a long time to compile the code.(Once application is compiled next time it compile fastest )</li>
            <li>Type Script does not support Abstract Classes.</li>
            <li>To run Type Script application in browser, a compilation step is required to transform type script to Java Script.</li>
        </ul>

    </div>

</div>