<div class="main-container">
	<div class="content-container" style="display: flex">
	  <clr-vertical-nav style="display: grid;">
			<a clrVerticalNavLink routerLink="./introduction" routerLinkActive="active">1. Introduction</a> 
			<a clrVerticalNavLink routerLink="./installation" routerLinkActive="active">2. Angular Installation</a>  
			<a clrVerticalNavLink routerLink="./first-program" routerLinkActive="active">3. Hello World App</a>  
			<a clrVerticalNavLink routerLink="./components" routerLinkActive="active">4. Components</a>
			<a clrVerticalNavLink routerLink="./interpolation" routerLinkActive="active">5. Interpolation</a> 
			<a clrVerticalNavLink routerLink="./property-binding" routerLinkActive="active">6. Property Binding</a>  
			<a clrVerticalNavLink routerLink="./class-binding" routerLinkActive="active">7. Class Binding</a> 
			<a clrVerticalNavLink routerLink="./style-binding" routerLinkActive="active">8. Style Binding</a>  
			<a clrVerticalNavLink routerLink="./event-binding" routerLinkActive="active">9. Event Binding</a>   
			<a clrVerticalNavLink routerLink="./template-reference" routerLinkActive="active">10. Template Reference</a>   
			<a clrVerticalNavLink routerLink="./two-way-data" routerLinkActive="active">11. Two Way Data Binding</a> 
			<a clrVerticalNavLink routerLink="./ng-if-directive" routerLinkActive="active">12. ngIf Directive</a>  
			<a clrVerticalNavLink routerLink="./ng-switch-directive" routerLinkActive="active">13. ngSwitch Directive</a>  
			<a clrVerticalNavLink routerLink="./ng-for-directive" routerLinkActive="active">14. ngFor Directive</a> 
			<a clrVerticalNavLink routerLink="./component-interaction" routerLinkActive="active">15. Component Interaction</a>  
			<a clrVerticalNavLink routerLink="./pipes" routerLinkActive="active">16. Pipes</a>   
			<a clrVerticalNavLink routerLink="./services" routerLinkActive="active">17. Services</a>  
			<a clrVerticalNavLink routerLink="./dependency-injection" routerLinkActive="active">18. Dependency Injection</a>  
			<a clrVerticalNavLink routerLink="./using-service" routerLinkActive="active">19. Using a Service</a>  
			<a clrVerticalNavLink routerLink="./http-observables" routerLinkActive="active">20. Http and Observables</a>  
			<a clrVerticalNavLink routerLink="./fetching-data-using-http" routerLinkActive="active">21. Fetching data using HTTP</a> 
			<a clrVerticalNavLink routerLink="./http-error-handling" routerLinkActive="active">22. HTTP Error Handling</a>  
			<a clrVerticalNavLink routerLink="./routing-navigation" routerLinkActive="active">23. Routing and Navigation</a>  
			<a clrVerticalNavLink routerLink="./wildcard-routes-and-re-direction" routerLinkActive="active">24. Wild Card Routes and Re-Direction</a>
			<a clrVerticalNavLink routerLink="./route-parameters" routerLinkActive="active">25. Route Parameters </a> 
			<a clrVerticalNavLink routerLink="./parammap-observables" routerLinkActive="active">26. paramMap Observables </a> 
			<a clrVerticalNavLink routerLink="./optional-route-parameters" routerLinkActive="active">27. Optional Route Parameters</a> 
			<a clrVerticalNavLink routerLink="./relatve-navigation" routerLinkActive="active">28. Relative Navigation</a> 
			<a clrVerticalNavLink routerLink="./child-routes" routerLinkActive="active">29. Child Routes</a>   
			<a clrVerticalNavLink routerLink="./lazy-loading" routerLinkActive="active">30. Lazy Loading</a>  
			<a clrVerticalNavLink routerLink="./route-guards" routerLinkActive="active">31. Route Guards</a> 
			<a clrVerticalNavLink routerLink="./angular-forms" routerLinkActive="active">32. Angular Forms - Introduction</a>  
			<a clrVerticalNavLink routerLink="./template-driven-forms" routerLinkActive="active">33. Template Driven Forms</a>
			<a clrVerticalNavLink routerLink="./setting-up-new-project" routerLinkActive="active">34. Setting up a new Project</a> 
			<a clrVerticalNavLink routerLink="./adding-form-html" routerLinkActive="active">35. Adding Form HTML</a>  
			<a clrVerticalNavLink routerLink="./binding-data-with-ngform" routerLinkActive="active">36. Binding Data with ngForm</a> 
			<a clrVerticalNavLink routerLink="./binding-data-with-model" routerLinkActive="active">37. Binding Data to Model</a>  
			<a clrVerticalNavLink routerLink="./tracking-state-validity" routerLinkActive="active">38. Tracking State and Validity</a>
			<a clrVerticalNavLink routerLink="./validation-with-visual-feedback" routerLinkActive="active">39. Validation with Visual Feedback</a> 
			<a clrVerticalNavLink routerLink="./displaying-error-message" routerLinkActive="active">40. Displaying Error Messages</a> 
			<a clrVerticalNavLink routerLink="./select-control-validation" routerLinkActive="active">41. Select Control Validation</a> 
			<a clrVerticalNavLink routerLink="./form-validation" routerLinkActive="active">42. Form Validation</a>  
			<a clrVerticalNavLink routerLink="./submitting-form-data" routerLinkActive="active">43. Submitting Form Data</a>  
			<a clrVerticalNavLink routerLink="./express-service-receive-form-data" routerLinkActive="active">44. Express Server receive form Data</a>
			<a clrVerticalNavLink routerLink="./error-handling" routerLinkActive="active">45. Error Handling </a> 
			<a clrVerticalNavLink routerLink="./tdf-vs-reactive-forms" routerLinkActive="active">46. TDF Vs Reactive Forms</a>  
			<a clrVerticalNavLink routerLink="./reactive-forms" routerLinkActive="active">47. Reactive Forms</a> 
			<a clrVerticalNavLink routerLink="./adding-forms-html" routerLinkActive="active">48. Adding Form HTML</a> 
			<a clrVerticalNavLink routerLink="./creating-form-modal" routerLinkActive="active">49. Creating the Forms Modal</a>   
			<a clrVerticalNavLink routerLink="./nesting-form-group" routerLinkActive="active">50. Nesting Form Groups</a>   
			<a clrVerticalNavLink routerLink="./managing-control-values" routerLinkActive="active">51. Managing Control Values</a> 
			<a clrVerticalNavLink routerLink="./formbuilder-service" routerLinkActive="active">52. FormBuilder Service</a>  
			<a clrVerticalNavLink routerLink="./simple-validation" routerLinkActive="active">53. Simple Validation</a>  
			<a clrVerticalNavLink routerLink="./custom-validation" routerLinkActive="active">54. Custom Validation</a> 
			<a clrVerticalNavLink routerLink="./dynamic-form-control" routerLinkActive="active">55. Dynamic Form Controls</a> 
			<a clrVerticalNavLink routerLink="./conditional-validation" routerLinkActive="active">56. Conditional Validation</a>   
			<a clrVerticalNavLink routerLink="./dynamic-form-control" routerLinkActive="active">57. Dynamic Form Controls</a>  
			<a clrVerticalNavLink routerLink="./angular-material-bootstrap5" routerLinkActive="active">58. Angular Material & Bootstrap 5</a>
			<a clrVerticalNavLink routerLink="./introduction-to-nosql-database" routerLinkActive="active">59. Introduction to NoSQL Database</a>  
			<a clrVerticalNavLink routerLink="./mongodb" routerLinkActive="active">60. MongoDB</a> 
	  </clr-vertical-nav>
	  <div class="content-area">
		<router-outlet></router-outlet>
	  </div>
	</div>
  </div>