<div class="contentStyle">
    <h2 class="inTittle">ngSwitch Directive</h2>

    <ul>
        <li>The <span style="color: #c72100;background-color: #c5bdbd;">[ngSwitch]</span> directive on a container specifies an expression to match against. </li> 
        <li>The expressions to match are provided by <span style="color: #c72100;background-color: #c5bdbd;">ngSwitchCase</span> directives on views within the container.</li>
        <li>If there are no matches, a view with the <span style="color: #c72100;background-color: #c5bdbd;">ngSwitchDefault</span> directive is rendered.</li>
        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example:</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/switch.PNG">
        
    </ul>
</div>