<div class="contentStyle">
    <h2 class="inTittle">Services</h2> 
    <ul>
        <li> Service is a piece of reusable code with a focused purpose.</li> 
        <li>A code that we will use across multiple components in your application.</li>
        <li>Our components need to access the data. </li>
        <li>We can write data access code in each Component, but this is very inefficient and breaks the rule of single responsibility. </li>
        <li>The Component should focus on presenting the data to the user.</li>
        <li>The task of receiving data from the back-end server should be delegated to another class. </li>
        <li>We call a class a service class because it provides each Component with the data it needs.</li>
        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example:</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/service.PNG">
    </ul>
</div>