<div class="contentStyle">
    <h2 class="inTittle">ngFor Directive</h2>

    <ul>
        <li>The <span style="color: #c72100;background-color: #c5bdbd;">NgFor</span>  is a structural directive, meaning that it changes the structure of the DOM. </li> 
        <li>It’s point is to repeat a given HTML template once for each value in an array, each time passing it the array value as context for string interpolation or binding.</li>
        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example:</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/for.PNG">
        
    </ul>
</div>