<div class="contentStyle">
    <h2 class="inTittle">STYLE - BINDING:</h2>

    <ul>
        <li>We can use the Style-Binding multiple ways:</li>

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example1 -  Style-Binding :</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/style-bind1.PNG">

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example2 - Another way of Style-Binding (Using property value):</li>
        <img style="width: 100%; margin-top: 15px 0px;" src="../../assets/img/style-bind2.PNG">

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example3 -  Another way of Style-Binding (Using Conditional Bind):</li>
        <img style="width: 100%; margin-top: 15px 0px;" src="../../assets/img/style-bind3.PNG">

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example4 -  Another way of Style-Binding (Using Multiple Styles Binding):</li>
        <img style="width: 100%; margin-top: 15px 0px;" src="../../assets/img/style-bind4.PNG">

    </ul>
</div>