<div class="contentStyle">
    <h2 class="inTittle">EVENT - BINDING:</h2>

    <ul>
        <li>To bind to an event you use the Angular event binding syntax. This syntax consists of a target event name within parentheses to the left of an equal sign, and a quoted template statement to the right. In the following example, the target event name is <span style="color: #c72100;background-color: #c5bdbd;">click</span> and the template statement is <span style="color: #c72100;background-color: #c5bdbd;">onClick()</span> .</li>

        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Example1 -  Event-Binding :</li>
        <img style="width: 100%;margin-top: 15px 0px;" src="../../assets/img/event-bind.PNG">


        <li style="color: #c72100; list-style-type: none; text-decoration: underline;">Brackets Usage purposes:</li>
        <li><span style="color: #c72100;font-weight: bold;"> &#10100;&#10100;   &#10101;&#10101; </span> - Interpolation</li>
        <li><span style="color: #c72100;font-weight: bold;"> &#10100;   &#10101; </span> - Method Definition </li>
        <li><span style="color: #c72100;font-weight: bold;">[ ] </span> - Property Binding </li>
        <li><span style="color: #c72100;font-weight: bold;"> ( ) </span> - Event Binding </li>
    </ul>
</div>