
<div class="contentStyle">
    <h2 class="inTittle">ANGULAR FIRST BASIC PROJECT</h2>

    <div class="subContent">
        <h3>Hello World-Angular create steps and output:</h3>
    </div>
    <ul>
       <li>STEP 1 :-
           <ul class="innerUL">
               <li>Create a new angular base project  by this command.</li>
               <li> Project Creation command : <span style="color: #c72100;">ng new hello-world (Our project Name)</span></li>
           </ul>
       </li>
       <li>STEP 2 :-
            <ul class="innerUL">
                <li>If it is asking, Choose yes for the routing option (not required routing in your application please select NO) and select your style formats like  CSS or SCSS.</li>
            </ul>
        </li>
        <li>STEP 3 :-
            <ul class="innerUL">
                <li>After completing the installation it is showing below folders and file structure.</li>
            </ul>
            <ul class="innerUL">
                <span  style="display: block;"><img src="../../assets/img/folder-structure.PNG"></span>
            </ul>
        </li>

        <li>STEP 4 :-
            <ul class="innerUL">
                <li>To run the application go to your project directory path.</li>
            </ul>
            <ul class="innerUL">
                <span  style="display: block;"><img src="../../assets/img/project-path.PNG"></span>
            </ul>
        </li>

        <li>STEP 5 :-
            <ul class="innerUL">
                <li> Run the server and see your application in action by using the below command, once successfully completed it is showing the application into Browser.</li>
            </ul>
            <ul class="innerUL">
                <span  style="display: block;"><img src="../../assets/img/application-run.PNG"></span>
            </ul>
        </li>

        <div class="subContent">
            <h3>Note:</h3>
        </div>
        <ul>
            <li>Every Angular Application has at least one Module, known as Root-Module.</li>
            <li>By convention this is called as "App-Module"</li>
            <li>Each Module is made up of Components and Services</li>
            <li>Angular application has at least one component, known as Root Component.</li>
            <li>By Convention it is called as App-Component</li>
            <li> All other user created components are nested under this App-Component.</li>
            <img style="width: 80%;" src="../../assets/img/root.PNG">
            <li>Angular Application Contains one or more Modules</li>
            <li>Each Module contains one or more Components and Services.</li>
            <li>Each Component contains HTML Template(View) + Class (logic to control the view).</li>
            <li>Services contains the business logic of your application.</li>
        </ul>

    </ul>
</div>